@charset "UTF-8";
body {
	padding : 0;
	margin : 40px 0 20px 0;
	font : 9.5px "Lucida Grande", "Lucida Sans Unicode";
	line-height : 14px;
    text-transform: uppercase;
	background : #fff;
	color : #9fa0a1;
    font-weight: bold;
	}
	
.light {
	text-align: center;
	color : #C0C0C0;
	font-size: 9px;
	}

a {
	color : #9fa0a1;
	background : inherit;
	text-decoration : none;
	}
a:hover {
	color : #90297b;
	background : inherit;
	text-decoration : none;
	}
p {
	margin : 5px 0;
	}
p.capital {
	text-transform:none; 
	}
h1 {
	font : 1.6em Arial, Sans-Serif;
	color : #cfd0d2;
	text-transform: uppercase;
	margin : 0;
	letter-spacing : -1px;
	text-align: center;
	}
h2 {
	font : bold 1.8em Arial, Sans-Serif;
	color : #2a77f6;
	letter-spacing : -1px;
	}
h3 {
	color : #2a77f6;
	padding : 4px 0;
	margin : 0;
	}
ul {
	margin : 0;
	padding : 0;
	list-style : none;
	}
img {
	border : 0;
	}
hr {
	height : 1px;
	border-style : none;
	color : #d0d0d0;
	background-color : #c0c0c0;
	margin : 10px 0;
	}
#container {
	margin : 0 auto;
	padding : 0px;
	width : 810px;
	border : 0px solid #666;
	}

#container #rightside {
	float : right;
	width : 460px;
	margin : 0 0 10px 0;
	}

#container #rightside .photopa {
	float : right;
	width : 225px;
	height : 227px;
	padding-left: 5px;
	margin-bottom : 15px;
	}

#container #rightside .photoa {
	float : right;
	width : 225px;
	height : 227px;
	padding-left: 5px;
	margin-bottom : 15px;
	}
	
#container #rightside .photodesc {
	float : right;
	width: 455px;
	height: 27px;
	padding-left: 5px;
	margin-bottom : 15px;
	}


#container #rightside .photowave {
	float : right;
	width: 304px;
	height: 147px;
	padding-left: 10px;
	margin-bottom : 15px;
	}

#container #rightside .photobig {
	float: right;
	width: 145px;
	height: 147px;
	margin-bottom : 15px;
	}

#container #leftside {
	margin-right : 10px;
	width : 320px;
	}
		
#top {
	height : 50px;
	padding-bottom: 10px;
	margin-bottom : 15px;
	background : #fff url(images/turk.jpg) center no-repeat;
	}
	
/*---------------------------CUBE-------------------------------------*/
.cube {
	float: left;
	width: 300px;
	height: 330px;
	margin: 0;
	padding: 0;
	text-align: left;
	}
#lcorner {
	width: 75px;
	height: 75px;
	float: left;
	background : url(images/sq_corner.jpg) no-repeat;
	}	
#vowel {
	width: 73px;
	height: 73px;
	float: left;
	border : 1px solid #fff;
	}	
#frontvowel {
	width: 73px;
	height: 73px;
	float: left;
	border : 1px solid #999999;
	}	
#backvowel {
	width: 73px;
	height: 73px;
	float: left;
	border : 1px solid #cfd0d2;
	}
#lfrontvowel {
	width: 74px;
	height: 75px;
	float: left;
	background : #f5f5f5;
	border-left : 1px solid #999999;
	}	
#rfrontvowel {
	width: 74px;
	height: 75px;
	float: left;
	background : #fafafa;
	border-right : 1px solid #999999;
	}	
#bfrontvowel {
	width: 75px;
	height: 74px;
	float: left;
	background : #f5f5f5;
	border-bottom : 1px solid #999999;
	}	
#tfrontvowel {
	width: 75px;
	height: 74px;
	float: left;
	background : #fafafa;
	border-top : 1px solid #999999;
	}	
#rbackvowel {
	width: 74px;
	height: 75px;
	float: left;
	border-right : 1px solid #cfd0d2;
	}	
#tbackvowel {
	width: 75px;
	height: 74px;
	float: left;
	border-top : 1px solid #cfd0d2;
	}	
#rcorner {
	width: 75px;
	height: 75px;
	float: left;
	background : url(images/sq_corner.jpg) no-repeat;
	}	

#features {
	width: 320px;
	height: 60px;
	float: left;
	padding-top: 10px;
	}
	
#featurebox {
	width: 100px;
	height: 20px;
	float: left;`
	}

#sound {
	width: 1px;
	height: 1px;
	float: left;`
	}


	
/*-------------------------------PHOTOS---------------------------------*/

/*--------------------
#photo {
	width: 300px;
	height: 300px;
	float: right;
	border-left: 5px;
	}
#photoa {
	width: 225px;
	height: 225px;
	float: right;
	padding-left: 5px;
	}
#photopa {
	width: 225px;
	height: 225px;
	float: right;
	padding-left: 5px;
	}
--------------------*/
	
/*--------------------------------SOUNDWAVES--------------------------------*/
/*--------------------------
#photodesc {
	width: 455px;
	height: 32px;
	float: right;
	padding-left: 5px;
	}

#photobig {
	width: 145px;
	height: 120px;
	float: right;
	padding-left: 5px;
	}

#photowave {
	width: 304px;
	height: 137px;
	float: right;
	padding-left: 5px;
	}
	

#navigation ul {
	list-style-type: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
	font-size: 1em;
	color: #e5e5e5; 
	}
#navigation li {
	color: #9fa0a1;
	padding: 0px;
	margin: 0;
	}

#navigation li a {
	color: #9fa0a1;
	text-transform: uppercase;
	font-size: 0.7em;
	}
#navigation li a {
	color: #9fa0a1;
	text-transform: lowercase;
	font-size: 0.95em;
	font-family: Verdana, sans-serif;
	}
#navigation li a:hover {
	color: #90297b;
	}
		
#main {
	margin-left : 60px;
	margin-top : 10px;
	width : 780px;
	padding-top : 0px;
	border-top : 0px solid #e3eaef;
	}
	
#nav {
	width: 760px;
	height : 28px;
	margin-top : 5px;
	margin-bottom : 20px;
	margin-left : 60px;
	text-align: left;
	border-top : 0px solid #e3eaef;
	}
#nav a {
	font : 0.7em arial, sans-serif;
	text-transform: uppercase;
	text-decoration : none;
	line-height : 27px;
	}
#nav a {
	font : 0.9em verdana, arial, sans-serif;
	text-transform: lowercase;
	text-decoration : none;
	line-height : 27px;
	}
--------------------*/
