@charset "UTF-8";
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0; 
	background-color: #ffffff;
	font-family: "Georgia", serif, "Lucida Grande", Arial;
}

a{
	color : #000099;
	background : inherit;
	text-decoration : none;
}

a:hover{
	color: #000fff;
}

#page-wrap{
}

/* header */
header{
	height: 75px;
	width: 100%;
	margin-left: 0;
	margin-right: 0;	
	padding: 5px 0 0 0;
	background-color: #53CAAF;
	background-image: url(../images/ilang-edition2013.jpg); 
	background-size: cover; 
	position: fixed;
}
header h1{
	margin: 5px;
	margin-left: 70px;
	padding: 10px;
	font-family: "Lucida Grande", Arial;
	font-size: 230%;
	color: #ffffff;
	letter-spacing: 1px;
	display: inline-block;
}
header h2{
	margin-left: 15px;
	padding: 10px;
	font-family: "Lucida Grande", Arial;
	font-size: 130%;
	color: #ffffff;
	letter-spacing: 1px;
	display: inline-block;
}


nav, .container{
	display: block;
	float: left; 
} 

/* navigation bar */ 
nav{
	width: 150px;
	height: 100%;
	margin-top: 80px;
	padding: 10px 5px 5px 2px;
	background-color: #E5FFE7;
	position: fixed;
}
nav ul{
	margin: 2px;
	padding: 5px;
}
nav li{
	display: block;
	width: auto;
	margin-left: 1%;
	margin-right: 1%;
	padding: 20px 2px 15px 15px;
	background-color: #E5FFE7;
	text-align: left;
	text-decoration: none;
	font-weight: bold;
}
nav li.small{
	font-weight: normal;
	font-size: small;
	padding: 20px 2px 15px 5px;
} 

/* navigation sub menus */
nav li ul{
	position: absolute;
	width: 200px;
	height: auto;
	margin-top: -10px;
	display: none;
}
nav li:hover ul{
	display: inline-block;
}
nav li ul li{
	display: block;
	padding-top: 5%;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: -2%;
	font-weight: normal;
	text-align: left;
} 

/* DO WE WANT A FOOTER ?
footer{
	position: absolute;
	height: 2%;
	width: 100%;
	padding: 0 0 5px 0;
	background-color: rgba(255, 229, 229, 1);
} */

.container{
	width: 83%;
	height: 100%;
	margin: 2px;
	margin-top: 80px;
	margin-left: 160px;
	padding: 20px;
	text-align: center;
}

section{
	margin: 5px auto;
	padding: 5px 15px;
	width: 90%;
	height: 100vh;
	overflow: visible;
	text-align: left;
}
.center{
	margin: 20px auto;
	width: 75%;
	height: ;	
}

.welcome{
	width: 70%;
	margin: 15px auto;
	text-align: center;
}

.booktitle{
	font-style: oblique;
	font-weight: bold;
}

/* for 2 editions, change to inlin-block and adjust right margin */
.bookphoto{
	display:inline-block;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
.bookphoto img{
	display: block;
	margin: 0 auto;
	width: 100px;
}
.bookphoto figcaption{
	text-align: center;
	font-size: small;
}
.text{
	margin: 2px;
	padding: 2px;
}

.about{
	clear: both;
}

.button{
	margin: 5px 50px 5px 5px;
	float: right;
}
.button a{
	padding: 10px;
	border-radius: 5px;
	font-family: arial;
	font-size: 90%;
	font-weight: bold;
	color: #ffffff;
	background-color: #000099;
}

object{
	width: 95%;
	height: 95%;
	margin: 2px;
	margin-top: 10px;
	padding: 2px;
}

p.small{
	font-size: 95%;
}

ul.no-bullet{
	margin: 2px;
	padding: 2px;
	list-style-type: none;
}
.no-bullet li{
	padding: 10px 5px 5px 10px;
}


/* Links page tables */

h4{
	padding-top: 35px;
}
table{
	width: 100%;
	margin: auto;
	padding: 5px;
	text-align: left;
}

th, td{
	padding: 15px;
	padding-top: 10px;	
}

th{
	font-size: 95%;
	border-bottom: 1px solid #ECE5E5;
}

td{
	vertical-align: top;
	border-bottom: 1px solid #ECE5E5;
}

.col-1{
	text-align: center;
}
.col-2{
	width: 200px;
}
.col-3{
	width: 300px;
}

#lingbooks a, #cogscibooks a{
	font-style: oblique;
}



/*table.link th:first-child{
	text-align: left;
} */

/*.book > th:nth-child(2), td:nth-child(2){
	width: 200px;
}*/

/*.link > th:first-child, td:first-child{
	width: 200px;
}*/
/*.left{
	width: 25%;
	height: 100vh;
	margin: 0;
	padding: 20px 15px 10px 15px;
	/* background-color: #ffe5e5; 
	display: inline-block; 
} */

/*.light {
	text-align: center;
	color : #C0C0C0;
	font-size: 9px;
	}

a:hover {
	color : #0000ff;
	background : inherit;
	text-decoration : none;
	} 
p {
	margin : 5px 0;
	}
p.capital {
	text-transform:none; 
	} 
/*h1 {
	font-family: Arial, Sans-Serif;
	color: #cfd0d2;
	text-transform: uppercase;
	margin: 0;
	letter-spacing: -1px;
	text-align: center;
	}
h2 {
	font : bold 1.8em Arial, Sans-Serif;
	color : #2a77f6;
	letter-spacing : -1px;
	}
*/
/*
ul {
	margin : 0;
	padding : 0;
	list-style : none;
	}
img {
	border : 0;
	}
hr {
	height : 1px;
	border-style : none;
	color : #d0d0d0;
	background-color : #c0c0c0;
	margin : 10px 0;
	}
#container {
	margin : 0 auto;
	padding : 0px;
	width : 810px;
	border : 0px solid #666;
	}

#container #rightside {
	float : right;
	width : 460px;
	margin : 0 0 10px 0;
	}

#container #rightside .photopa {
	float : right;
	width : 225px;
	height : 227px;
	padding-left: 5px;
	margin-bottom : 15px;
	}

#container #rightside .photoa {
	float : right;
	width : 225px;
	height : 227px;
	padding-left: 5px;
	margin-bottom : 15px;
	}
	
#container #rightside .photodesc {
	float : right;
	width: 455px;
	height: 27px;
	padding-left: 5px;
	margin-bottom : 15px;
	}


#container #rightside .photowave {
	float : right;
	width: 304px;
	height: 147px;
	padding-left: 10px;
	margin-bottom : 15px;
	}

#container #rightside .photobig {
	float: right;
	width: 145px;
	height: 147px;
	margin-bottom : 15px;
	}

#container #leftside {
	margin-right : 10px;
	width : 320px;
	}
		
#top {
	height : 50px;
	padding-bottom: 10px;
	margin-bottom : 15px;
	background : #fff url(images/turk.jpg) center no-repeat;
	}
	
/*---------------------------CUBE-------------------------------------
.cube {
	float: left;
	width: 300px;
	height: 330px;
	margin: 0;
	padding: 0;
	text-align: left;
	}
#lcorner {
	width: 75px;
	height: 75px;
	float: left;
	background : url(images/sq_corner.jpg) no-repeat;
	}	
#vowel {
	width: 73px;
	height: 73px;
	float: left;
	border : 1px solid #fff;
	}	
#frontvowel {
	width: 73px;
	height: 73px;
	float: left;
	border : 1px solid #999999;
	}	
#backvowel {
	width: 73px;
	height: 73px;
	float: left;
	border : 1px solid #cfd0d2;
	}
#lfrontvowel {
	width: 74px;
	height: 75px;
	float: left;
	background : #f5f5f5;
	border-left : 1px solid #999999;
	}	
#rfrontvowel {
	width: 74px;
	height: 75px;
	float: left;
	background : #fafafa;
	border-right : 1px solid #999999;
	}	
#bfrontvowel {
	width: 75px;
	height: 74px;
	float: left;
	background : #f5f5f5;
	border-bottom : 1px solid #999999;
	}	
#tfrontvowel {
	width: 75px;
	height: 74px;
	float: left;
	background : #fafafa;
	border-top : 1px solid #999999;
	}	
#rbackvowel {
	width: 74px;
	height: 75px;
	float: left;
	border-right : 1px solid #cfd0d2;
	}	
#tbackvowel {
	width: 75px;
	height: 74px;
	float: left;
	border-top : 1px solid #cfd0d2;
	}	
#rcorner {
	width: 75px;
	height: 75px;
	float: left;
	background : url(images/sq_corner.jpg) no-repeat;
	}	

#features {
	width: 320px;
	height: 60px;
	float: left;
	padding-top: 10px;
	}
	
#featurebox {
	width: 100px;
	height: 20px;
	float: left;`
	}

#sound {
	width: 1px;
	height: 1px;
	float: left;`
	}
*/

